<div class="container">
  <div class="row">
    <div class="span2">
    </div>
    <div class="span6 well brand" style="font-size: 1.5em;line-height: 1.3em;">
      Thank you so much for signing up to be part of our pilot program! We are feverishly working to bring together a collection of the best craft brews around.  Please check back often for updates and we will be in touch when the new shipments are ready to be sent out.<br/><br/><div style="float: right;">Cheers!<br>The Barley Boxers</div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
    </div>
    <div class="span4 well brand" >
      <h4>In the interum...</h4>
      <p>Feel free to take a look at some of the quality beers that we're considering.</p>
      <button class="btn-success" style="float: right; font-size: 1.4em; letter-spacing: .08em;" onclick="location='<%= beers_path %>';">Show me beers!</button>
    </div>
  </div>
</div>