<div class="container">
  <div class="row">
    <div class="span6 well brand" style="font-size: 1.5em;line-height: 1.3em;">
      We are Craft Beer enthusiasts who have a desire to explore new beers. Barley Box is a home subscription service that delivers beer to people like us. Unlike existing services, Barley Box delivers a great story along side our quality product. We have no competition because we are a premium service at an affordable price.<br/><br/><div style="float: right;">Barley box - drink</div>
    </div>
  </div>
  <div class="row">
    <div class="span5">
    </div>
    <div class="span6 well brand" >
      <h4>Interested in premium craft brews with a great story?</h4>
      <p>We're looking for individuals who are interested in participating in an exclusive pilot program.</p>
      <button class="btn-success" style="float: right; font-size: 1.4em; letter-spacing: .08em;" onclick="location='<%= signup_club_path %>';">Sign up now!</button>
    </div>
  </div>
</div>