<div class="container">
  <div class="row">
    <div class="span6 well brand" style="font-size: 1.8em;line-height: 1.3em;">
      We are Craft Beer enthusiasts who have a desire to explore new beers. Barley Box is a home subscription service that delivers beer to people like us. Unlike existing services, Barley Box delivers a great story along side our quality product. We have no competition because we are a premium service at an affordable price. Barley box - drink
    </div>
  </div>
</div>