<div class="container" ng-controller="BeerSelector">
  <div class="row well">
    <h2>Beer Selection</h2>
    <div class="span2">
      <h3>Preferences</h3>
      <div class="filter">
        <label>Alcohol by Volume ABV</label>
        <div class="slider"></div>
      </div>
      <div class="filter">
        <label>Bitterness (IBU)</label>
        <div class="slider"></div>
      </div>
      <div class="filter">
        <label>Color</label>
        <div class="slider"></div>
      </div>
    </div>
    <div class="span9">
      <div class="row">
        <div class="span3" ng-repeat="beer in beers">
          {{beer.name}} by {{beer.brewery}}
        </div>
      </div>

      beers go here
    </div>
  </div>
</div>

<script>
  $(function() {
    $( ".slider" ).slider();
  });
</script>