<div id="page-controller" class="container" ng-controller="BeerSelector">
  <div class="row well">
    <h2>Beer Selection</h2>
    <div class="col-md-3">
      <h3>Preferences</h3>
      <div class="filter">
        <label>Alcohol by Volume ABV</label>
        <div ui-slider="{range: true}"  min="4" max="10" ng-model="abv_range"></div>
      </div>
      <div class="filter">
        <label>Bitterness (IBU)</label>
        <div ui-slider="{range: true}"  min="15" max="80" step="1" ng-model="ibu_range"></div>
      </div>
      <div class="filter">
        <label>Color</label>
        <div ui-slider="{range: true}"  min="1" max="40" step="1" ng-model="color_range"></div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 beer-grid" ng-repeat="beer in beers | abv:abv_range | ibu:ibu_range | colors:color_range">
          <img ng-show="{{beer.pic && beer.pic!=''}}" ng-src="/assets/beers/{{beer.pic}}"></img><br/>
          {{beer.name}} <br/>by {{beer.brewery}} <br/>({{beer.apv}} APV / {{beer.apv}} APV / {{beer.color}})
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $( ".slider" ).slider();
  });
</script>