<div class="container">
  <div class="row well">
    <h2>Beer Selection</h2>
    <div class="span2">
      filters go here
      <div class="slider">Alcohol by Volume ABV</div>
      <div class="slider">Bitterness (IBU)</div>
      <div class="slider">Color</div>
    </div>
    <div class="span9">
      beers go here
    </div>
  </div>
</div>

<script>
  $(function() {
    $( ".slider" ).slider();
  });
</script>